portletcontainer/src/conf/portlet-app_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:portlet="http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="en">
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<element name="portlet-app" type="portlet:portlet-appType">
		<unique name="portlet-name-uniqueness">
			<selector xpath="portlet:portlet"/>
			<field xpath="portlet:portlet-name"/>
		</unique>
		<unique name="custom-portlet-mode-uniqueness">
			<selector xpath="portlet:custom-portlet-mode"/>
			<field xpath="portlet:portlet-mode"/>
		</unique>
		<unique name="custom-window-state-uniqueness">
			<selector xpath="portlet:custom-window-state"/>
			<field xpath="portlet:window-state"/>
		</unique>
		<unique name="user-attribute-name-uniqueness">
			<selector xpath="portlet:user-attribute"/>
			<field xpath="portlet:name"/>
		</unique>
	</element>
	<complexType name="portlet-appType">
		<sequence>
			<element name="portlet" type="portlet:portletType" minOccurs="0" maxOccurs="unbounded">
				<unique name="init-param-name-uniqueness">
					<selector xpath="portlet:init-param"/>
					<field xpath="portlet:name"/>
				</unique>
				<unique name="supports-mime-type-uniqueness">
					<selector xpath="portlet:supports"/>
					<field xpath="mime-type"/>
				</unique>
				<unique name="preference-name-uniqueness">
					<selector xpath="portlet:portlet-preferences/portlet:preference"/>
					<field xpath="portlet:name"/>
				</unique>
				<unique name="security-role-ref-name-uniqueness">
					<selector xpath="portlet:security-role-ref"/>
					<field xpath="portlet:role-name"/>
				</unique>
			</element>
			<element name="custom-portlet-mode" type="portlet:custom-portlet-modeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="custom-window-state" type="portlet:custom-window-stateType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="user-attribute" type="portlet:user-attributeType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="security-constraint" type="portlet:security-constraintType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="version" type="string" use="required"/>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="custom-portlet-modeType">
		<sequence>
			<element name="description" type="portlet:descriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="portlet-mode" type="portlet:portlet-modeType"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="custom-window-stateType">
		<sequence>
			<element name="description" type="portlet:descriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="window-state" type="portlet:window-stateType"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="expiration-cacheType">
		<simpleContent>
			<extension base="int"/>
		</simpleContent>
	</complexType>
	<complexType name="init-paramType">
		<sequence>
			<element name="description" type="portlet:descriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="name" type="portlet:nameType"/>
			<element name="value" type="portlet:valueType"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="keywordsType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="mime-typeType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="nameType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="portletType">
		<sequence>
			<element name="description" type="portlet:descriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="portlet-name" type="portlet:portlet-nameType"/>
			<element name="display-name" type="portlet:display-nameType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="portlet-class" type="portlet:portlet-classType"/>
			<element name="init-param" type="portlet:init-paramType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="expiration-cache" type="portlet:expiration-cacheType" minOccurs="0"/>
			<element name="supports" type="portlet:supportsType" maxOccurs="unbounded"/>
			<element name="supported-locale" type="portlet:supported-localeType" minOccurs="0" maxOccurs="unbounded"/>
			<choice>
				<sequence>
					<element name="resource-bundle" type="portlet:resource-bundleType"/>
					<element name="portlet-info" type="portlet:portlet-infoType" minOccurs="0"/>
   			  	</sequence>
   				<element name="portlet-info" type="portlet:portlet-infoType"/>
			</choice>
			<element name="portlet-preferences" type="portlet:portlet-preferencesType" minOccurs="0"/>
			<element name="security-role-ref" type="portlet:security-role-refType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<simpleType name="portlet-classType">
		<restriction base="portlet:fully-qualified-classType"/>
	</simpleType>
	<complexType name="portlet-collectionType">
		<sequence>
			<element name="portlet-name" type="portlet:portlet-nameType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="portlet-infoType">
		<sequence>
			<element name="title" type="portlet:titleType"/>
			<element name="short-title" type="portlet:short-titleType" minOccurs="0"/>
			<element name="keywords" type="portlet:keywordsType" minOccurs="0"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="portlet-modeType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="portlet-nameType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="portlet-preferencesType">
		<sequence>
			<element name="preference" type="portlet:preferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="preferences-validator" type="portlet:preferences-validatorType" minOccurs="0"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="preferenceType">
		<sequence>
			<element name="name" type="portlet:nameType"/>
			<element name="value" type="portlet:valueType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="read-only" type="portlet:read-onlyType" minOccurs="0"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<simpleType name="preferences-validatorType">
		<restriction base="portlet:fully-qualified-classType"/>
	</simpleType>
	<simpleType name="read-onlyType">
		<restriction base="portlet:string">
			<enumeration value="true"/>
			<enumeration value="false"/>
		</restriction>
	</simpleType>
	<complexType name="resource-bundleType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="role-linkType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="security-constraintType">
		<sequence>
			<element name="display-name" type="portlet:display-nameType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="portlet-collection" type="portlet:portlet-collectionType"/>
			<element name="user-data-constraint" type="portlet:user-data-constraintType"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="security-role-refType">
		<sequence>
			<element name="description" type="portlet:descriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="role-name" type="portlet:role-nameType"/>
			<element name="role-link" type="portlet:role-linkType" minOccurs="0"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="short-titleType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="supportsType">
		<sequence>
			<element name="mime-type" type="portlet:mime-typeType"/>
			<element name="portlet-mode" type="portlet:portlet-modeType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="supported-localeType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="titleType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<simpleType name="transport-guaranteeType">
		<restriction base="portlet:string">
			<enumeration value="NONE"/>
			<enumeration value="INTEGRAL"/>
			<enumeration value="CONFIDENTIAL"/>
		</restriction>
	</simpleType>
	<complexType name="user-attributeType">
		<sequence>
			<element name="description" type="portlet:descriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="name" type="portlet:nameType"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="user-data-constraintType">
		<sequence>
			<element name="description" type="portlet:descriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="transport-guarantee" type="portlet:transport-guaranteeType"/>
		</sequence>
		<attribute name="id" type="string" use="optional"/>
	</complexType>
	<complexType name="valueType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<complexType name="window-stateType">
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<!--- everything below is copied from j2ee_1_4.xsd -->
	<complexType name="descriptionType">
		<simpleContent>
			<extension base="string">
				<attribute ref="xml:lang"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="display-nameType">
		<simpleContent>
			<extension base="portlet:string">
				<attribute ref="xml:lang"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="fully-qualified-classType">
		<restriction base="portlet:string"/>
	</simpleType>
	<simpleType name="role-nameType">
		<restriction base="NMTOKEN"/>
	</simpleType>
	<simpleType name="string">
		<restriction base="string">
			<whiteSpace value="collapse"/>
		</restriction>
	</simpleType>
</schema>